# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\cape-mumbai\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\cape-mumbai\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\cape-mumbai\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\cape-mumbai\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service

In [4]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.30M/6.30M [00:05<00:00, 1.31MB/s]

In [14]:
driver.get("https://www.naukri.com/")

In [15]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [18]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [19]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
1,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Chennai",Shell,1-2 Yrs
4,DATA ANALYST III,Bangalore/Bengaluru,Walmart,7-9 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
6,Data Analyst,Bangalore/Bengaluru,Yulu Bikes,4-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Paychex It Solutions,3-8 Yrs
8,Data Analyst,"Bangalore/ Bengaluru, Karnataka(Hebbal Kempapura)",Futurlytic,1-2 Yrs
9,EDI - DATA ANALYST,Bangalore/Bengaluru,Atos,3-5 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [27]:
driver.get("https://www.naukri.com/")

In [28]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [29]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [30]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [31]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech,7-10 Yrs
3,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech,3-7 Yrs
4,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services,4-9 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services,5-10 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services,5-10 Yrs
7,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services,5-10 Yrs
8,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services,5-10 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Noida, Mumbai, Hyderabad/...",TRH Consultancy Services,5-10 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.

In [18]:
driver.get("https://www.naukri.com/")

In [19]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [20]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [24]:
loc_filter=[]
salary_filter=[]

In [28]:
loc_filter=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in loc_filter:
    if(i.text=='Delhi / NCR'):
        i.click()
        break

In [31]:
salary_filter=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft filterLabel"]')
for i in salary_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [32]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [33]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [34]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [35]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'company_name':company_name,'Experience':experience_required})
df

,Title,Location,company_name,Experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Principal Data Scientist,New Delhi,Benovymed Healthcare,2-7 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [10]:
driver.get("https://www.flipkart.com/")

In [11]:
search_field=driver.find_element(By.CLASS_NAME,"_3704LK")
search_field.send_keys('sunglasses')

In [12]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [13]:
Brand=[]
Product_Descrption=[]
Price=[]

In [14]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:40]:
    brand=i.text
    Brand.append(brand)

In [16]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:40]:
    product=i.text
    Product_Descrption.append(product)

In [17]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:40]:
    price=i.text
    Price.append(price)

In [18]:
print(len(Brand),len(Product_Descrption),len(Price))

40 36 40

In [25]:
start=0
end=4
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(brand)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [26]:
start=0
end=4
for page in range(start,end):
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in brand:
        Product_Descrption.append(product)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [27]:
start=0
end=4
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in brand:
        Price.append(price)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [28]:
print(len(Brand),len(Product_Descrption),len(Price))

131 127 131

In [33]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product_Descrption':Product_Descrption,'Price':price})
df

             Brand                                 Product_Descrption Price
0    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (48)  ₹648
1    VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)  ₹648
2    VINCENT CHASE  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹648
3    VINCENT CHASE             UV Protection Wayfarer Sunglasses (50)  ₹648
4    VINCENT CHASE  Riding Glasses, Night Vision Wayfarer Sunglass...  ₹648
..             ...                                                ...   ...
122  VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹648
123  VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹648
124  VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹648
125  VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹648
126  VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹648

[127 rows x 3 columns]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [49]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [50]:
Rating=[]
Review_summary=[]
Full_review=[]

In [52]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags[0:10]:
    rating=i.text
    Rating.append(rating)

In [53]:
review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in rating_tags[0:10]:
    review=i.text
    Review_summary.append(review)

In [54]:
full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in rating_tags[0:10]:
    full=i.text
    Full_review.append(full)

In [55]:
start=0
end=11
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(rating)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [56]:
start=0
end=11
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(review)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [57]:
start=0
end=11
for page in range(start,end):
    full_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        Full_review.append(full)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [58]:
print(len(Rating),len(Review_summary),len(Full_review))

31 21 21

In [59]:
import pandas as pd
df=pd.DataFrame({'Rating':rating,'Review_summary':Review_summary,'Full_review':full})
df

   Rating Review_summary Full_review
0       5              5           5
1       5              5           5
2       5              5           5
3       5              5           5
4       5              5           5
5       5              5           5
6       5              5           5
7       5              5           5
8       5              5           5
9       5              5           5
10      5              5           5
11      5              5           5
12      5              5           5
13      5              5           5
14      5              5           5
15      5              5           5
16      5              5           5
17      5              5           5
18      5              5           5
19      5              5           5
20      5              5           5

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [58]:
driver.get("https://www.flipkart.com/")

In [59]:
search_field=driver.find_element(By.CLASS_NAME,"_3704LK")
search_field.send_keys('sneakers')

In [60]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [61]:
Brand=[]
Product_Descrption=[]
Price=[]

In [62]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:40]:
    brand=i.text
    Brand.append(brand)

In [63]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags[0:40]:
    product=i.text
    Product_Descrption.append(product)

In [64]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:40]:
    price=i.text
    Price.append(price)

In [65]:
print(len(Brand),len(Product_Descrption),len(Price))

40 38 40

In [74]:
start=0
end=6
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(brand)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [75]:
start=0
end=6
for page in range(start,end):
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in brand:
        Product_Descrption.append(product)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [76]:
start=0
end=6
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in brand:
        Price.append(price)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [77]:
print(len(Brand),len(Product_Descrption),len(Price))

115 113 115

In [78]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product_Descrption':Product_Descrption,'Price':price})
df

     Brand                                 Product_Descrption Price
0    BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹399
1    BIRDE  Stylish & Trending Outdoor Walking Comfortable...  ₹399
2    BIRDE  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹399
3    BIRDE                                   Sneakers For Men  ₹399
4    BIRDE                                 Sneakers For Women  ₹399
..     ...                                                ...   ...
108  BIRDE  Premium White Sneakers For women Sneakers For ...  ₹399
109  BIRDE  Premium White Sneakers For women Sneakers For ...  ₹399
110  BIRDE  Premium White Sneakers For women Sneakers For ...  ₹399
111  BIRDE  Premium White Sneakers For women Sneakers For ...  ₹399
112  BIRDE  Premium White Sneakers For women Sneakers For ...  ₹399

[113 rows x 3 columns]

Q7. Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [5]:
driver.get("https://www.amazon.in/")

In [9]:
search_col=driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]')
search_col.send_keys('laptop')

In [15]:
search=driver.find_element(By.XPATH,'//div[@class="nav-search-submit nav-sprite"]')
search.click()

In [17]:
type_filter=driver.find_elements(By.XPATH,'//span[@class="a-size-base a-color-base"]')
for i in type_filter:
    if(i.text=='Intel Core i7'):
        i.click()
        break

In [29]:
Title=[]
Ratings=[]
Price=[]

In [30]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    Title.append(title)
    
ratings_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]/..')
for i in ratings_tags[0:10]:
    ratings=i.text
    Ratings.append(ratings)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    Price.append(price)

In [27]:
print(len(Title),len(Ratings),len(Price))

20 20 20

In [31]:
import pandas as pd
df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df

                                               Title Ratings     Price
0  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...            62,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            64,990
2  ASUS Creator Series Vivobook 14X OLED (2023), ...            92,990
3  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...          1,04,990
4  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...            86,390
5  Dell Vostro 5630 13th Gen Laptop, Intel Core i...            90,004
6  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            71,490
7  (Renewed) Dell 7480 Intel Core i7 14-Inch (35....            25,994
8  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...            79,990
9  (Renewed) HP Laptop 15s, 12th Gen Intel Core i...            66,663

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [73]:
driver.get("https://www.azquotes.com/")

In [74]:
top_quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [75]:
Quote=[]
Author=[]
Type_of_quotes=[]

In [76]:
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:100]:
    quote=i.text
    Quote.append(quote)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:100]:
    author=i.text
    Author.append(author)
    
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in type_tags[0:100]:
    type=i.text
    Type_of_quotes.append(type)

In [77]:
print(len(Quote),len(Author),len(Type_of_quotes))

100 100 100

In [83]:
import pandas as pd
df=pd.DataFrame({'Quote':Quote,'Author':Author,'Type_of_quotes':Type_of_quotes})
df

,Quote,Author,Type_of_quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [23]:
driver.get("https://www.jagranjosh.com/")

In [24]:
gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [26]:
prime_minister=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
prime_minister.click()

In [27]:
pm_name=[]
Born_Dead=[]
Term_of_office=[]

In [28]:
pm_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
for i in pm_tags[0:10]:
    pm=i.text
    pm_name.append(pm)

bd_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[3]/p')
for i in bd_tags[0:10]:
    bd=i.text
    Born_Dead.append(bd)

term_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[4]/p[1]/span')
for i in term_tags[0:10]:
    term=i.text
    Term_of_office.append(term)

In [29]:
import pandas as pd
df=pd.DataFrame({'pm_name':pm_name,'Born_Dead':Born_Dead,'Term_of_office':Term_of_office})
df

Empty DataFrame
Columns: [pm_name, Born_Dead, Term_of_office]
Index: []

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [30]:
driver.get("https://www.motor1.com/")

In [33]:
search_field=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
search_field.send_keys('50 most expensive cars')

In [34]:
search=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
search.click()

In [ ]:
expensive=driver.find_elements(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
expensive.click()

In [56]:
cars=[]

In [57]:
cars_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in cars_tags[0:10]:
    cars=i.text

In [58]:
print(len(cars))

18

In [59]:
import pandas as pd
df=pd.DataFrame({'cars':cars})
df

ValueError: If using all scalar values, you must pass an index