# WEB SCRAPING – ASSIGNMENT 4

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [1]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\cape-mumbai\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\cape-mumbai\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\cape-mumbai\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\cape-mumbai\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\cape-mumbai\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\cape-mumbai\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import WebDriverException

In [4]:
driver = webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [5]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [8]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
        
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]'):
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [9]:
print(len(Rank),len(Name),len(Artist),len(Date),len(Views))

30 30 30 30 30

In [10]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})
df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.23
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.05
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.98
6,8.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,7.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",4.99
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.86
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.41
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.00
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.91
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.84
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.84
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,"""Sorry""[42]",Justin Bieber,"October 22, 2015",3.69
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.68
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,"October 7, 2014",3.63
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.63
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.56
23,24.,"""Perfect""[47]",Ed Sheeran,"November 9, 2017",3.51
24,25.,"""Faded""[48]",Alan Walker,"December 3, 2015",3.49
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.48
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.45
28,29.,"""Bailando""[52]",Enrique Iglesias,"April 11, 2014",3.43
29,30.,"""Lean On""[53]",Major Lazer,"March 22, 2015",3.43

Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details: 
A) Match title (I.e. 1 ODI) 
B) Series 
C) Place 
D) Date 
E) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [19]:
driver.get("https://www.bcci.tv/")

In [23]:
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [24]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [25]:
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Match_Title.append(i.text)
except NoSuchElementException:
    Match_Title.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
    
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [26]:
print(len(Match_Title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [28]:
df=pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Match_Title,Series,Place,Date,Time
0,5th T20I -,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Gro...,13 AUG 2023,8:00 PM IST
1,1st T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",18 AUG 2023,7:30 PM IST
2,2nd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",20 AUG 2023,7:30 PM IST
3,3rd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",23 AUG 2023,7:30 PM IST
4,1st ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
5,2nd ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
6,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
7,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details: A)
Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
driver.get("https://www.statisticstimes.com/")

In [7]:
driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button').click()

# clicking on India
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]').click()
time.sleep(3)

# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [8]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [10]:
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    
# scraping State
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append('-')
    
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append('-')
    
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append('-')
    
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append('-')

In [11]:
df=pd.DataFrame({'Rank':Rank,'State':State,'GSDP1':GSDP1,'GSDP2':GSDP2,'Share':Share,'GDP_billion':GDP_billion})
df

   Rank                      State      GSDP1      GSDP2   Share GDP_billion
0     1                Maharashtra          -  2,632,792  13.94%     399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%     247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%     240.726
3     4                    Gujarat          -  1,502,899   7.96%     228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%     226.806
..  ...                        ...        ...        ...     ...         ...
61   29                     Sikkim     28,391     25,141   0.15%      17,060
62   30                   Nagaland          -     24,534   0.15%           -
63   31          Arunachal Pradesh          -     22,488   0.13%           -
64   32                    Mizoram     24,424     20,947   0.13%      17,797
65   33  Andaman & Nicobar Islands          -          -       -           -

[66 rows x 6 columns]

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [5]:
driver.get("https://github.com/")

In [23]:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [24]:
# fetching urls for each repository
repository = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in repository:
    URLs.append(i.get_attribute('href'))
    
# scraping Repository title data
title = driver.find_elements(By.XPATH,'//h1[@class = "h3 lh-condensed"]')
for i in title:
    repository_title.append(i.text)
    
# scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    # scraping Repository Description data 
    try:
        desc = driver.find_elements(By.XPATH,'//p[@class="f4 mt-3"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # scraping Contributors Count data
    try:
        contributor = driver.find_elements(By.XPATH,'//*[contains(text(),"Contributors ")]')
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
    
    # scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,'//ul[@class= "list-style-none"]//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

SyntaxError: EOL while scanning string literal (1407690253.py, line 34)

In [19]:
Github = pd.DataFrame({})
Github['Repository Title'] = repository_title
Github['Repository Description'] = Description
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

Empty DataFrame
Columns: [Repository Title, Repository Description, Contributors Count, Language Used]
Index: []

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [27]:
driver.get("https://www.billboard.com/")

In [31]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [32]:
view_chart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart.click()

In [33]:
Name = []
Artist = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [34]:
try:
    names=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//h3')
    for i in names:
        Name.append(i.text)
except NoSuchElementException:       
    Name.append('No details available')
time.sleep(2)    
Name[::4][:100]

['Last Night',
 'Fast Car',
 'Meltdown',
 'Cruel Summer',
 'FE!N',
 'Calm Down',
 'Fukumean',
 'Barbie World',
 'Vampire',
 'Dance The Night',
 'I Know ?',
 'Flowers',
 'All My Life',
 'Hyaena',
 'Snooze',
 'Thank God',
 'Topia Twins',
 'K-POP',
 'My Eyes',
 'Karma',
 'Try That In A Small Town',
 'What Was I Made For?',
 'Modern Jam',
 'Need A Favor',
 'Delresto (Echoes)',
 'Telekinesis',
 'Sirens',
 "God's Country",
 'Kill Bill',
 'Seven',
 'Anti-Hero',
 "Creepin'",
 'Religiously',
 'Skitzo',
 'Chemical',
 'Circus Maximus',
 "Thinkin' Bout Me",
 'Til Further Notice',
 'Favorite Song',
 'Mourning',
 'Cupid',
 'Ella Baila Sola',
 'In Your Love',
 'Dial Drunk',
 'Next Thing You Know',
 'Lost Forever',
 'You, Me, & Whiskey',
 'Love You Anyway',
 'Looove',
 'Thought You Should Know',
 'Bury Me In Georgia',
 'La Bebe',
 'Parasail',
 'Search & Rescue',
 'Jealousy',
 'Enough Is Enough',
 'Put It On Da Floor Again',
 'Deli',
 'Un x100to',
 'LaLa',
 'Where She Goes',
 'Princess Diana',
 'Lady Gaga',
 "Baby Don't Hurt Me",
 'Area Codes',
 'What It Is (Block Boy)',
 'Something Real',
 'Overdrive',
 'Peaches & Eggplants',
 'Sabor Fresa',
 'Watermelon Moonshine',
 'Your Heart Or Mine',
 'Eyes Closed',
 'Daylight',
 'Tulum',
 "I Can See You (Taylor's Version) (From The Vault)",
 'Super Shy',
 'Speed Drive',
 'White Horse',
 'On The Radar Freestyle',
 'Stand By Me',
 'Fragil',
 'Everything I Love',
 'Shake Sumn',
 'TQM',
 'Popular',
 'Too Cool To Die',
 "Don't Understand",
 'Aqui Te Espero',
 'Novacandy',
 'Truck Bed',
 "I'm Just Ken",
 'Jaded',
 'Heartbroken',
 'Memory Lane',
 'Oh U Went',
 'ICU',
 'Pound Town 2',
 'Bzrp Music Sessions, Vol. 55',
 'Johnny Dang']

In [35]:
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//span')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:     
    Artist.append('-')
time.sleep(2)    
Artist[::7][:100]

['Morgan Wallen',
 'Luke Combs',
 'Travis Scott Featuring Drake',
 'Taylor Swift',
 'Travis Scott Featuring Playboi Carti',
 'Rema & Selena Gomez',
 'Gunna',
 'Nicki Minaj & Ice Spice With Aqua',
 'Olivia Rodrigo',
 'Dua Lipa',
 'Travis Scott',
 'Miley Cyrus',
 'Lil Durk Featuring J. Cole',
 'Travis Scott',
 'SZA',
 'Travis Scott',
 'Travis Scott Featuring Rob49 & 21 Savage',
 'Travis Scott, Bad Bunny & The Weeknd',
 'Travis Scott',
 'Taylor Swift Featuring Ice Spice',
 'Jason Aldean',
 'Billie Eilish',
 'Travis Scott Featuring Teezo Touchdown',
 'Jelly Roll',
 'Travis Scott & Beyonce',
 'Travis Scott Featuring SZA & Future',
 'Travis Scott',
 'Travis Scott',
 'SZA',
 'Jung Kook Featuring Latto',
 'Taylor Swift',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Bailey Zimmerman',
 'Travis Scott Featuring Young Thug',
 'Post Malone',
 'Travis Scott Featuring The Weeknd & Swae Lee',
 'Morgan Wallen',
 'Travis Scott Featuring James Blake & 21 Savage',
 'Toosii',
 'Post Malone',
 'Fifty Fifty',
 'Eslabon Armado X Peso Pluma',
 'Tyler Childers',
 'Noah Kahan With Post Malone',
 'Jordan Davis',
 'Travis Scott Featuring Westside Gunn',
 'Justin Moore & Priscilla Block',
 'Luke Combs',
 'Travis Scott Featuring Kid Cudi',
 'Morgan Wallen',
 'Kane Brown',
 'Yng Lvcas x Peso Pluma',
 'Travis Scott Featuring Yung Lean & Dave Chappelle',
 'Drake',
 'Offset & Cardi B',
 'Post Malone',
 'Latto Featuring Cardi B',
 'Ice Spice',
 'Grupo Frontera X Bad Bunny',
 'Myke Towers',
 'Bad Bunny',
 'Ice Spice & Nicki Minaj',
 'Peso Pluma, Gabito Ballesteros & Junior H',
 'David Guetta, Anne-Marie & Coi Leray',
 'Kaliii',
 'Doechii Featuring Kodak Black',
 'Post Malone',
 'Post Malone',
 'Young Nudy Featuring 21 Savage',
 'Fuerza Regida',
 'Lainey Wilson',
 'Jon Pardi',
 'Ed Sheeran',
 'David Kushner',
 'Peso Pluma & Grupo Frontera',
 'Taylor Swift',
 'NewJeans',
 'Charli XCX',
 'Chris Stapleton',
 'Drake & Central Cee',
 'Lil Durk Featuring Morgan Wallen',
 'Yahritza y Su Esencia x Grupo Frontera',
 'Morgan Wallen',
 'DaBaby',
 'Fuerza Regida',
 'The Weeknd, Playboi Carti & Madonna',
 'Post Malone',
 'Post Malone',
 'Ivan Cornejo',
 'Post Malone',
 'HARDY',
 'Ryan Gosling',
 'Miley Cyrus',
 'Diplo, Jessie Murph & Polo G',
 'Old Dominion',
 'Young Thug Featuring Drake',
 'Coco Jones',
 'Sexyy Red & Tay Keith & Nicki Minaj',
 'Bizarrap & Peso Pluma',
 'That Mexican OT, Paul Wall & DRODi']

In [36]:
#scraping last week rank of the song
try:
    last_rank=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in last_rank:
        Last_week_rank.append(i.text)
except NoSuchElementException:      
    Last_week_rank.append('-')
    time.sleep(2)    
Last_week_rank[::2][:100]

['2',
 '3',
 '-',
 '6',
 '-',
 '5',
 '4',
 '8',
 '10',
 '12',
 '-',
 '11',
 '13',
 '-',
 '14',
 '-',
 '-',
 '7',
 '-',
 '15',
 '1',
 '18',
 '-',
 '16',
 '-',
 '-',
 '-',
 '-',
 '17',
 '9',
 '22',
 '20',
 '24',
 '-',
 '46',
 '-',
 '27',
 '-',
 '23',
 '60',
 '29',
 '28',
 '-',
 '25',
 '30',
 '-',
 '52',
 '37',
 '-',
 '34',
 '39',
 '32',
 '-',
 '35',
 '-',
 '-',
 '42',
 '41',
 '36',
 '49',
 '43',
 '40',
 '51',
 '55',
 '53',
 '58',
 '-',
 '-',
 '57',
 '50',
 '61',
 '54',
 '44',
 '59',
 '56',
 '45',
 '48',
 '73',
 '31',
 '-',
 '62',
 '70',
 '67',
 '65',
 '63',
 '68',
 '-',
 '-',
 '-',
 '-',
 '69',
 '87',
 '78',
 '64',
 '47',
 '66',
 '71',
 '74',
 '72',
 '96']

In [37]:
#scraping song's peak rank
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:       
    Peak_rank.append('-')
time.sleep(2)    
Peak_rank[1::2][:100]

['1',
 '2',
 '3',
 '4',
 '5',
 '3',
 '4',
 '7',
 '1',
 '10',
 '11',
 '1',
 '2',
 '14',
 '11',
 '16',
 '17',
 '7',
 '19',
 '2',
 '1',
 '18',
 '23',
 '14',
 '25',
 '26',
 '27',
 '28',
 '1',
 '1',
 '1',
 '3',
 '24',
 '34',
 '13',
 '36',
 '9',
 '38',
 '5',
 '36',
 '17',
 '4',
 '43',
 '25',
 '23',
 '46',
 '47',
 '15',
 '49',
 '7',
 '39',
 '11',
 '53',
 '2',
 '55',
 '56',
 '13',
 '41',
 '5',
 '48',
 '8',
 '4',
 '35',
 '55',
 '33',
 '54',
 '67',
 '47',
 '52',
 '26',
 '60',
 '53',
 '19',
 '47',
 '43',
 '5',
 '48',
 '73',
 '31',
 '80',
 '22',
 '69',
 '14',
 '65',
 '34',
 '43',
 '87',
 '88',
 '89',
 '90',
 '69',
 '87',
 '56',
 '64',
 '27',
 '19',
 '62',
 '66',
 '31',
 '96']

In [38]:
#scraping number of weeks on board
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
    for i in weeks:
        Weeks_on_board.append(i.text)
except NoSuchElementException:       #handling no such element exception
    Weeks_on_board.append('-')
time.sleep(2)    
Weeks_on_board[1::2][:100]

['27',
 '19',
 '1',
 '13',
 '1',
 '48',
 '7',
 '6',
 '5',
 '10',
 '1',
 '29',
 '12',
 '1',
 '34',
 '1',
 '1',
 '2',
 '1',
 '21',
 '3',
 '3',
 '1',
 '18',
 '1',
 '1',
 '1',
 '1',
 '34',
 '3',
 '41',
 '35',
 '13',
 '1',
 '16',
 '1',
 '22',
 '1',
 '24',
 '11',
 '20',
 '20',
 '1',
 '7',
 '28',
 '1',
 '13',
 '25',
 '1',
 '51',
 '12',
 '20',
 '1',
 '17',
 '1',
 '1',
 '9',
 '2',
 '16',
 '4',
 '11',
 '16',
 '6',
 '11',
 '13',
 '13',
 '1',
 '2',
 '9',
 '6',
 '6',
 '12',
 '19',
 '16',
 '5',
 '4',
 '4',
 '2',
 '2',
 '1',
 '10',
 '15',
 '23',
 '11',
 '11',
 '9',
 '1',
 '1',
 '1',
 '1',
 '7',
 '2',
 '11',
 '2',
 '18',
 '6',
 '18',
 '9',
 '9',
 '3']

In [39]:
df=pd.DataFrame({'Song_Name':Name[::4][:100],
                'Artist_Name':Artist[::7][:100],
                'Last_week_rank':Last_week_rank[::2][:100],
                'Peak':Peak_rank[1::2][:100],
                'Weeks_on_chart':Weeks_on_board[1::2][:100]})
df

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Last Night,Morgan Wallen,2,1,27
1,Fast Car,Luke Combs,3,2,19
2,Meltdown,Travis Scott Featuring Drake,-,3,1
3,Cruel Summer,Taylor Swift,6,4,13
4,FE!N,Travis Scott Featuring Playboi Carti,-,5,1
...,...,...,...,...,...
95,Oh U Went,Young Thug Featuring Drake,66,19,6
96,ICU,Coco Jones,71,62,18
97,Pound Town 2,Sexyy Red & Tay Keith & Nicki Minaj,74,66,9
98,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,72,31,9
99,Johnny Dang,"That Mexican OT, Paul Wall & DRODi",96,96,3

6 Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greyYou have to find the following details
  . Scrape the details of Highest selling novels. 
compare 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre

In [5]:
driver.get("https://www.theguardian.com/world/2002/may/08/books.booksnews")

In [6]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [9]:
# scraping book names data
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[2]'):
    Book_name.append(i.text)

    
# scraping author names data
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[3]'):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)


# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[4]'):
    Volumes_sold.append(i.text)
    
    
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[5]'):
    Publisher.append(i.text)
    
    
# scraping  data of genre
for i in driver.find_elements(By.XPATH,'//tbody//tr//td[6]'):
    Genre.append(i.text)

In [10]:
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

Empty DataFrame
Columns: [Book Name, Author, Volume sold, Publisher, Genre]
Index: []

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [40]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [41]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [42]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [43]:
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,114"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,025"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,572"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,843"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,919"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,406"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,430"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,000"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,661"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,461"

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [44]:
driver.get("https://archive.ics.uci.edu/")

In [51]:
dataset_url = driver.find_elements(By.XPATH,'//p[@class="normal"]//b/a')

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [52]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [53]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_elements(By.XPATH,'//span[@class="heading"]')
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    
    # scraping data type
    try:
        data_type = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr/td[2]')
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(3)
    
    
    # scraping Task
    try:
        task = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr[3]/td[2]')
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr[2]/td[2]')
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Instances
    try:
        instances = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr/td[4]')
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr[2]/td[4]')
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)
    
    
    # scraping Year
    try:
        year = driver.find_elements(By.XPATH,'//table[@border="1"]//tbody/tr[2]/td[6]')
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)

In [56]:
ML = pd.DataFrame({})
ML['Dataset_name'] = Dataset_name
ML['Data_type'] = Data_type
ML['Task'] = Task 
ML['Attribute_type'] = Attribute_type 
ML['No_of_instance'] = No_of_instances
ML['No_of_attributes'] = No_of_attributes 
ML['Year'] = Year 
ML

Empty DataFrame
Columns: [Dataset_name, Data_type, Task, Attribute_type, No_of_instance, No_of_attributes, Year]
Index: []